<app-header></app-header>
<div class="container">
  <div class="alert alert-dismissible fade show" [ngClass]="alertClass" *ngIf="saved">
    <button type="button" class="close" data-dismiss="alert" (click)="removeAlert()">
      <span>&times;</span>
    </button>
    {{alertMessage}}
  </div>
</div>
<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <div class="card">
      <div class="card-header">
        <h5 class="text-center">Login Form</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <label for="">Email</label>
            <div class="mb-3">
              <div class="input-group" [ngClass]="{'has-error': form.controls.email.errors && (form.controls.email.dirty || form.controls.email.touched),
                  'has-success': !form.controls.email.errors && (form.controls.email.dirty || form.controls.email.touched)}">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
                <input type="text" class="form-control" autocomplete="email" placeholder="Enter Email" formControlName="email">
              </div>
              <show-errors [control]="form.controls.email"></show-errors>
            </div>
          </div>
          <div class="col-md-12">
            <label for="">Password</label>
            <div class="mb-3">
              <div class="input-group" [ngClass]="{'has-error': form.controls.password.errors && (form.controls.password.dirty || form.controls.password.touched),
                'has-success': !form.controls.password.errors && (form.controls.password.dirty || form.controls.password.touched)}">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="fas fa-key"></i>
                  </span>
                </div>
                <input type="password" class="form-control" autocomplete="password" placeholder="Enter Password" formControlName="password">
              </div>
              <show-errors [control]="form.controls.password"></show-errors>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 20px;">
          <div class="col-md-12">
            <button type="submit" [disabled]="!form.valid || submitted" class="btn btn-primary custom-button">
              <i class="fas fa-cog fa-spin" style="margin-right:10px;" *ngIf="submitted"></i>Login</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>